.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .navbar-nav {
    flex-direction: column !important;
  }
}

nav button {
  margin: 5px;
}

.nav-center {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-dark .navbar-nav .active.nav-link {
  background-color: transparent;
  color: #23bdb8;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

/* Home Cards */
.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card-statistic-3:hover {
  cursor: pointer;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

button.btn-icon {
  background: none;
  border: 0px;
  padding: 6px;
}

button.btn-icon:focus {
  outline: none;
}

.search-material {
  justify-content: center;
}

.table-responsive td,
.table-responsive th {
  vertical-align: middle;
}

.input-quantity {
  width: 50px;
}

@media (max-width: 350px) {
  .table-responsive td .btn-icon {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 452px) {
  #btn-add-material {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  #btn-add-material {
    font-size: 12px;
  }
}

@media (max-width: 530px) {
  .table-responsive th,
  .table-responsive td {
    font-size: 10px;
    padding: 0.3rem;
  }

  .table-responsive td h4 {
    font-size: 14px;
  }

  .table-responsive td .btn-icon svg {
    width: 15px !important;
    height: 15px !important;
  }

  .order-note label {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  #btn-add-material {
    font-size: 12px;
  }

  .MuiAutocomplete-hasPopupIcon.css-viou3o-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 6px;
  }
}

@media (max-width: 900px) {
  .table-responsive td {
    padding: 0;
  }

  .input-quantity {
    width: 30px;
  }
}